<app-loader></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Site</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h4 class="card-title mb-4">Site Details</h4>
          </div>

          <div class="col-md-2">
            <div class="d-flex flex-wrap gap-2 ml-3">
              <button
                type="danger"
                class="btn btn-danger waves-effect"
                (click)="deleteSite()"
              >
                Delete
              </button>
              <button
                type="submit"
                class="btn btn-primary waves-effect waves-light"
                (click)="updateSite()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img
              class="rounded-circle"
              src="assets/images/users/site-final2.png"
              alt="Header Avatar"
            />
          </div>
          <div class="col-md-9">
            <div class="table-responsive">
              <table class="table table-nowrap mb-0">
                <tbody>
                  <tr>
                    <th scope="row">Site Name :</th>
                    <td>{{ siteData.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Type :</th>
                    <td>
                      {{
                        siteData.type === 1
                          ? 'Hotel'
                          : siteData.type === 2
                          ? 'Restaurant'
                          : 'Unknown'
                      }}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Account Name :</th>
                    <td>{{ siteData?.account?.name }}</td>
                  </tr>

                  <tr>
                    <th scope="row">Site Address :</th>
                    <td>{{ siteData.address }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
