<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-4">Add Role</h4>

    <form
      [formGroup]="roleForm"
      class="needs-validation"
      (ngSubmit)="validSubmit()"
    >
      <div class="row">
        <div class="col-md-6 mb-4">
          <label for="formrow-firstname-input">Role name</label>
          <input
            type="text"
            class="form-control"
            id="formrow-firstname-input"
            formControlName="roleName"
          />
        </div>
      </div>

      <h4 class="mb-2">Permissions</h4>

      <div formGroupName="permissions" class="permission-groups">
        <div *ngFor="let heading of headings" class="permission-group">
          <h6>{{ heading }}</h6>
          <div formGroupName="{{ heading }}" class="permission-items">
            <label
              *ngFor="let permission of permissions"
              class="permission-item"
            >
              <input type="checkbox" [formControlName]="permission" />
              {{ permission }}
            </label>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="btn btn-primary w-md"
          [disabled]="roleForm.pristine"
          (click)="onSave()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
