.blog-card {
  .card-body {
    padding: 1.25rem 0 0;
    height: 530px;
  }
}

.show-cursor {
  color: #6c757d;
  cursor: pointer;
}

.user-table-card {
  height: 530px;
}

.user-table {
  height: 100%;
}
